<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705380234746-p4oeaj1d7r0ei27kh0pl1eispd359nlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705380234746-p4oeaj1d7r0ei27kh0pl1eispd359nlp</string>
	<key>API_KEY</key>
	<string>AIzaSyBuqI15X-kgpJsRyAhNLDCfvyfrNcuUh24</string>
	<key>GCM_SENDER_ID</key>
	<string>705380234746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.ziedgannoun</string>
	<key>PROJECT_ID</key>
	<string>test-smi-a21cb</string>
	<key>STORAGE_BUCKET</key>
	<string>test-smi-a21cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705380234746:ios:46709558dca1c598872043</string>
	<key>DATABASE_URL</key>
	<string>https://test-smi-a21cb-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>